@use "pretendard/dist/web/variable/pretendardvariable";

:root {
    color-scheme: light dark;

    // https://developer.mozilla.org/ko/docs/Web/CSS/font-synthesis 의 권장에 따라 비영어권 폰트는 font-synthesis: none; 사용
    font-synthesis: none;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering 참조. 가독성을 위한 옵션 사용
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
        "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", sans-serif;


    --md-ref-typeface-brand: var(--font);
    --md-ref-typeface-plain: var(--font);
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    -webkit-touch-callout: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    place-items: center start;
}

#root {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    place-items: start;
}
